#perfil{
    text-align: center;
    padding: 24px;

    & img {
        border: 4px solid rgba(146,146,146,0.8);
        width: 112px;
        border-radius: 50%;
    }

    p {
        font-weight: 500;
        line-height: 24px;
        margin-top: 8px;
    }

}