#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  
  & button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background: #fff var(--switch-bg-url) no-repeat center;
    
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    
    animation: slide-out 0.2s;
  }
  & button:hover {
    outline: 8px solid var(--highlight-color);
  }
  
  & span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}